#detail_wrapper {
    .header_wrapper {
        color: #fff;

        .arrow-left {
            font-size   : 22px;
            padding-left: 15px;
        }

        .center {
            font-size : 18px;
            text-align: center;
        }

        ._flex {
            height          : 44px;
            background-color: #de4943;
        }
    }

}