#home_wrapper {
    .header_wrapper {
        padding   : 0 15px;
        background: transparent;

        .wine {
            width : 30px;
            height: 30px;
        }

        .logo {
            background   : url(../../common/img/wine.png) no-repeat -7px -42px;
            height       : 44px;
            width        : 44px;
            transform    : scale(0.75);
            border-radius: 14px;
            margin-left  : -5px;
        }
    }

    .bg_white {
        background: white;
        transition: all 1s;
    }

    .flex_box {
        display        : flex;
        flex-direction : column;
        height         : 44px;
        justify-content: center;
    }

    .swiper_wrapper {
        margin-top: -44px;
        box-shadow: none;
        height    : 200px;
    }

    .cate_item {
        position: relative;
        z-index : 1;
        height  : 78px;

        >img {
            width: 100%;
        }

        .cover_img {
            position     : absolute;
            z-index      : 666;
            width        : 25px;
            top          : 16px;
            left         : 22px;
            background   : #f73738;
            border-radius: 50%;
        }

        .cover_text {
            color    : #d2aca7;
            position : absolute;
            z-index  : 666;
            top      : 59px;
            left     : 21px;
            font-size: 12px;
        }

    }

    .mt {
        margin-top: 2px;
    }

    .recom_all {
        background: #f9f9f9;
    }

    .main {
        .img_25 {
            width: 25px;
        }



  


        .headlines {
            background-image: linear-gradient(45deg, #e66465, #ad0c10, white);
            height          : 40px;
            line-height     : 40px;
            padding-left    : 15px;
            color           : white;
            font-family     : "幼圆";
            font-weight     : 400;
        }



    }



}