#cart_wrapper {
    .header_wrapper {
        padding : 0 5px;
        position: absolute;

        .arrow-left {
            font-size   : 22px;
            padding-left: 10px;
        }

        .flex_box {
            display        : flex;
            flex-direction : column;
            height         : 44px;
            justify-content: center;
        }
    }
}